@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  border: 0; }

body,
html {
  overflow-x: hidden; }

body {
  font-family: Helvetica;
  color: #1d1d1f;
  background-color: #E7E9E8; }

html {
  width: 100%;
  background-color: #dddddd; }

.catalog_card {
  width: 15rem;
  height: 22rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }
  .catalog_card .catalog_card-title {
    padding: 1rem;
    flex: 0.1;
    background-color: #2c443a;
    border-radius: 5px 5px 0 0; }
    .catalog_card .catalog_card-title p {
      color: #ffff;
      font-weight: 500; }
    .catalog_card .catalog_card-title i {
      color: #ffff;
      font-weight: 100; }
  .catalog_card .catalog_card-content {
    padding: 1rem;
    background-color: #cecece;
    flex: 0.8;
    overflow: hidden; }
    .catalog_card .catalog_card-content img {
      width: auto;
      max-width: 100%;
      /* La imagen no superar치 el ancho del contenedor */
      height: auto;
      max-height: 100%;
      /* La imagen no superar치 la altura del contenedor */
      display: block;
      /* Eliminar espacio adicional por debajo de la imagen */
      margin: auto;
      /* Centrar la imagen horizontalmente */ }
  .catalog_card .catalog_card-footer {
    padding: 1rem;
    background-color: #2c443a;
    border-radius: 0 0 5px 5px;
    flex: 0.1;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .catalog_card .catalog_card-footer i {
      margin-bottom: 5px;
      color: #ffff; }
    .catalog_card .catalog_card-footer input {
      width: 33px;
      margin-bottom: 5px; }
    .catalog_card .catalog_card-footer button {
      cursor: pointer;
      padding: .5rem 1rem;
      border-radius: 5px;
      display: flex;
      align-items: center;
      background-color: #E9B738;
      padding: 8px 12px;
      border: none;
      cursor: pointer; }
      .catalog_card .catalog_card-footer button svg {
        margin-right: 8px;
        position: relative;
        bottom: 1px; }

.cart-message {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; }

.cart-message.fade-out {
  opacity: 0; }

.hover-underline-animation {
  position: relative; }
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #E9B738;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0); }
  .hover-underline-animation:hover::after {
    transform: scaleX(1); }

.header {
  background-color: #39594c;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem; }
  .header .header-logo {
    height: 10px;
    flex: 0.6; }
    .header .header-logo a {
      padding-left: 5%;
      display: flex;
      flex-direction: row; }
      .header .header-logo a p {
        position: relative;
        top: 0px;
        font-size: 1.5rem;
        margin: 0 .5rem;
        color: #ffff; }
      .header .header-logo a svg {
        position: relative;
        bottom: 10px;
        color: #ffff; }
  .header .header-nav_items {
    flex: 0.4;
    position: relative;
    color: #ffff; }
    @media screen and (min-width: 1235px) {
      .header .header-nav_items {
        max-height: 100rem !important; } }
    @media screen and (max-width: 1235px) {
      .header .header-nav_items {
        overflow: hidden;
        position: absolute;
        z-index: 1;
        top: 4rem;
        padding: 0 2%;
        width: 100%;
        max-height: 0rem;
        transition: max-height 0.3s ease-in-out;
        background-color: #2c443a; } }
    .header .header-nav_items ul {
      display: flex;
      flex-direction: row; }
      @media screen and (max-width: 1235px) {
        .header .header-nav_items ul {
          flex-direction: column; } }
      .header .header-nav_items ul li {
        margin: 0 1rem; }
        @media screen and (max-width: 1235px) {
          .header .header-nav_items ul li {
            margin: 1rem; } }
  .header .header-user_cart_menu {
    position: absolute;
    right: 3%;
    top: 1rem; }
    .header .header-user_cart_menu svg {
      color: #ffff; }
    .header .header-user_cart_menu #carrito p {
      position: absolute;
      top: 0;
      left: 4.3rem;
      background-color: #E9B738;
      padding: 1px 5px;
      border-radius: 25px; }
    .header .header-user_cart_menu #burguer_menu {
      visibility: hidden;
      margin-left: 1rem;
      color: #ffff; }
      @media screen and (max-width: 1235px) {
        .header .header-user_cart_menu #burguer_menu {
          visibility: visible; } }

footer {
  background-color: #293f36;
  padding: 5% 25%;
  color: #ffff; }
  @media screen and (max-width: 750px) {
    footer {
      padding: 5%; } }
  footer h3 {
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 20px; }
  footer .form-field {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px; }
    @media screen and (min-width: 750px) {
      footer .form-field {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto minmax(100px, 1fr); } }
    footer .form-field input[type="text"],
    footer .form-field input[type="email"] {
      border-radius: 4px;
      padding: .5rem; }
    footer .form-field input[type="submit"] {
      padding: .5rem 1rem;
      border-radius: 5px;
      background-color: #E9B738; }
    footer .form-field textarea {
      border-radius: 4px;
      border: 1px solid #ccc; }
      @media screen and (max-width: 750px) {
        footer .form-field textarea {
          height: 100px;
          padding: 5px; } }
    footer .form-field-name {
      display: grid;
      grid-template-rows: auto 1fr; }
      @media screen and (min-width: 750px) {
        footer .form-field-name {
          grid-area: 1 / 1 / 1 / 2; } }
    footer .form-field-email {
      display: grid;
      grid-template-rows: auto 1fr; }
      @media screen and (min-width: 750px) {
        footer .form-field-email {
          grid-area: 1 / 2 / 1 / 2; } }
    footer .form-field-comment_box {
      display: grid;
      grid-template-rows: auto 1fr; }
      @media screen and (min-width: 750px) {
        footer .form-field-comment_box {
          grid-area: 2 / 1 / 3 / 3; } }

#index_main .index_main-introduction {
  background-color: #39594c;
  padding: 7% 10% 2rem 10%;
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 1235px) {
    #index_main .index_main-introduction {
      flex-direction: column; } }
  #index_main .index_main-introduction h2 {
    color: #ffff;
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: .5rem; }
    @media screen and (max-width: 1235px) {
      #index_main .index_main-introduction h2 {
        margin-top: 1.5rem; } }
  #index_main .index_main-introduction p {
    color: #dddddd;
    font-weight: 100; }
  #index_main .index_main-introduction div {
    flex: 0.7; }
    #index_main .index_main-introduction div:nth-child(2) {
      flex: 0.3; }
    #index_main .index_main-introduction div img {
      position: relative;
      left: 3.5rem;
      bottom: 2.5rem;
      width: 250px;
      z-index: 1;
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(15px 5px 5px #222); }
      @media screen and (max-width: 1235px) {
        #index_main .index_main-introduction div img {
          bottom: 0;
          left: 50%;
          transform: translateX(-50%); } }
      @media screen and (min-width: 1235px) {
        #index_main .index_main-introduction div img {
          width: 300px;
          bottom: 3.5rem; } }

#index_main .index_main-introduction_buttons {
  margin: 2.5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; }
  @media screen and (max-width: 700px) {
    #index_main .index_main-introduction_buttons {
      justify-content: center; } }
  #index_main .index_main-introduction_buttons .button {
    border-radius: 25px;
    padding: .5rem 2rem; }
    #index_main .index_main-introduction_buttons .button:first-child {
      background-color: #E9B738;
      border: solid #E9B738 2px;
      margin: 0 1rem 1rem 0;
      display: inline-block;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      z-index: 1; }
      #index_main .index_main-introduction_buttons .button:first-child:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #E9B738;
        border-radius: 10rem;
        z-index: -2; }
      #index_main .index_main-introduction_buttons .button:first-child:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #bf8f15;
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1; }
      #index_main .index_main-introduction_buttons .button:first-child:hover {
        color: #ffff;
        border: solid #bf8f15 2px; }
        #index_main .index_main-introduction_buttons .button:first-child:hover:before {
          width: 100%; }
    #index_main .index_main-introduction_buttons .button:nth-child(2) {
      border: solid #ffff 2px;
      color: #1d1d1f;
      margin: 0 1rem 1rem 0;
      display: inline-block;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      z-index: 1; }
      #index_main .index_main-introduction_buttons .button:nth-child(2):after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffff;
        border-radius: 10rem;
        z-index: -2; }
      #index_main .index_main-introduction_buttons .button:nth-child(2):before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #d9d9d9;
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1; }
      #index_main .index_main-introduction_buttons .button:nth-child(2):hover {
        color: #1d1d1f;
        border: solid #d9d9d9 2px; }
        #index_main .index_main-introduction_buttons .button:nth-child(2):hover:before {
          width: 100%; }

#catalog {
  padding: 5% 15% 3% 15%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }
  #catalog .catalog_card {
    margin: 1rem; }

#about_us {
  padding: 5% 15% 8% 15%;
  display: flex; }
  @media screen and (max-width: 1090px) {
    #about_us {
      flex-direction: column; } }
  @media screen and (max-width: 700px) {
    #about_us .about_us-sec {
      text-align: center; } }
  #about_us .about_us-sec h2 {
    margin-bottom: 25px; }
  #about_us .about_us-sec:first-child {
    flex: 1;
    /*@media screen and (max-width: 1367px) {
                flex: 1;
            }*/ }
    #about_us .about_us-sec:first-child .about_us-sec-icons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      margin-top: 30px; }
      #about_us .about_us-sec:first-child .about_us-sec-icons-icon {
        vertical-align: middle;
        display: inline-block; }
      #about_us .about_us-sec:first-child .about_us-sec-icons-text {
        vertical-align: middle;
        display: inline-block; }
      #about_us .about_us-sec:first-child .about_us-sec-icons-title {
        font-weight: 700;
        margin: 5px 0 2px 0; }
      #about_us .about_us-sec:first-child .about_us-sec-icons div {
        display: flex;
        flex-direction: column; }
  #about_us .about_us-sec:last-child {
    margin: 0 35px;
    flex: 0.5;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    left: 25px;
    top: 17px; }
    @media screen and (max-width: 1090px) {
      #about_us .about_us-sec:last-child {
        flex: 1;
        left: 0;
        width: 100%;
        margin: 15px 0px; } }
    @media screen and (max-width: 1367px) {
      #about_us .about_us-sec:last-child {
        top: 15px; } }
    #about_us .about_us-sec:last-child img {
      object-fit: cover;
      width: 100%;
      max-width: 100%;
      /* La imagen no superar치 el ancho del contenedor */
      height: auto;
      max-height: 100%;
      /* La imagen no superar치 la altura del contenedor */
      display: block;
      /* Eliminar espacio adicional por debajo de la imagen */
      margin: auto;
      /* Centrar la imagen horizontalmente */
      height: 100%; }

#see_cart_body {
  padding: 5% 15%;
  height: 100vh; }
  @media screen and (max-width: 1235px) {
    #see_cart_body {
      padding: 5%; } }
  #see_cart_body input {
    border: 1px solid black;
    padding: 0 12px; }
  #see_cart_body button {
    background-color: #649e21;
    padding: 0 5px; }
    #see_cart_body button:last-child {
      background-color: #ee5858; }

.paypal-logo {
  font-family: Verdana, Tahoma;
  font-weight: bold;
  font-size: 26px; }
  .paypal-logo i:first-child {
    color: #253b80; }
  .paypal-logo i:last-child {
    color: #179bd7; }

.paypal-button {
  padding: 15px 30px;
  border: 1px solid #FF9933;
  border-radius: 5px;
  background-image: linear-gradient(#FFF0A8, #F9B421);
  min-width: 138px; }
  .paypal-button-title {
    font-size: 14px;
    color: #505050;
    vertical-align: baseline;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6); }
  .paypal-button .paypal-logo {
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
    font-size: 20px; }

#user_panel_body {
  height: 100vh;
  padding: 5% 15%; }
  @media screen and (max-width: 1235px) {
    #user_panel_body {
      padding: 5%; } }

#body_loginregister {
  height: 100vh;
  padding: 5% 10%; }

#body_adminpanel {
  height: 100vh;
  padding: 3%; }
  #body_adminpanel main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #body_adminpanel main form {
      display: flex;
      flex-direction: column;
      margin: 10px;
      border-radius: 5px;
      padding: .5rem; }
      #body_adminpanel main form input {
        margin: .2rem; }

#body_sucess {
  height: 100vh;
  padding: 5% 10%; }
  @media screen and (max-width: 1235px) {
    #body_sucess {
      padding: 5%; } }
