#index_main {
    .index_main-introduction {
        background-color: $color_primario;
        padding: 7% 10% 2rem 10%;
        display: flex;
        flex-direction: row;


        @media screen and (max-width: 1235px) {
            flex-direction: column;
        }

        h2 {
            color: #ffff;
            font-weight: 500;
            font-size: 2.5rem;
            margin-bottom: .5rem;

            @media screen and (max-width: 1235px) {
                margin-top: 1.5rem;
            }
        }

        p {
            color: #dddddd;
            font-weight: 100;
        }

        div {
            flex: 0.7;

            &:nth-child(2) {
                flex: 0.3;

            }

            img {
                position: relative;
                left: 3.5rem;
                bottom: 2.5rem;
                width: 250px;
                z-index: 1;

                @media screen and (max-width: 1235px) {
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);

                }

                @media screen and (min-width: 1235px) {
                    width: 300px;
                    bottom: 3.5rem;
                }

                -webkit-filter: drop-shadow(5px 5px 5px #222);
                filter: drop-shadow(15px 5px 5px #222);

            }
        }
    }

    .index_main-introduction_buttons {
        margin: 2.5rem 0;


        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        @media screen and (max-width: 700px) {
            justify-content: center;
        }

        .button {
            border-radius: 25px;
            padding: .5rem 2rem;

            &:first-child {
                background-color: $color_secundario;
                border: solid $color_secundario 2px;
                margin: 0 1rem 1rem 0;
                @include button-animation($color_secundario, $color_text_secundario);
            }

            &:nth-child(2) {
                border: solid $color_text_secundario 2px;
                color: $color_text;
                margin: 0 1rem 1rem 0;
                @include button-animation($color_text_secundario, $color_text);
            }
        }
    }
}


#catalog {
    padding: 5% 15% 3% 15%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .catalog_card {
        margin: 1rem;
    }
}

#about_us {
    padding: 3% 15% 5% 15%;
    display: flex;
    @media screen and (max-width: 1090px) {
        flex-direction: column;
    }

    .about_us-sec {

        @media screen and (max-width: 700px) {
            text-align: center;
        }

        h2 {
            margin-bottom: 25px;
        }

        &:first-child {
           // flex: 0.5;
            flex: 1;


            /*@media screen and (max-width: 1367px) {
                flex: 1;
            }*/

            .about_us-sec-icons {
                display: grid;
                grid-template-columns: 1fr 1fr;


                grid-gap: 30px;
                margin-top: 30px;

                &-icon {
                    vertical-align: middle;
                    display: inline-block;
                }

                &-text {
                    vertical-align: middle;
                    display: inline-block;
                }

                &-title {
                    font-weight: 700;
                    margin: 5px 0 2px 0;
                }

                div {
                    display: flex;
                    flex-direction: column;
                }

            }
        }

        &:last-child {
            margin: 0 35px;
            flex: 0.5;
            border-radius: 5px;
            overflow: hidden;

            position: relative;
            left: 25px;
            top: 17px;
            @media screen and (max-width: 1090px) {
                flex: 1;
                left: 0;
                width: 100%;
                margin: 15px 0px;
            }

            @media screen and (max-width: 1367px) {
                top: 15px;
            }

            img {
                object-fit: cover;
                width: 100%;
                max-width: 100%;
                /* La imagen no superará el ancho del contenedor */
                height: auto;
                max-height: 100%;
                /* La imagen no superará la altura del contenedor */
                display: block;
                /* Eliminar espacio adicional por debajo de la imagen */
                margin: auto;
                /* Centrar la imagen horizontalmente */
                height: 100%;


            }
        }
    }
}