footer {
    background-color: rgb(41, 63, 54);
    padding: 5% 25%;
    color: $color_text_secundario;
    @media screen and (max-width: 750px) {
        padding: 5%
    }
    h3 {
        font-weight: 100;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .form-field {
        display: grid;
        grid-template-columns: 1fr;

        @media screen and (min-width: 750px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto minmax(100px, 1fr);
        }

        grid-column-gap: 10px;
        grid-row-gap: 10px;

        input[type="text"],
        input[type="email"] {
            border-radius: 4px;
            padding: .5rem;
        }

        input[type="submit"] {
            padding: .5rem 1rem;
            border-radius: 5px;
            background-color: $color_secundario;
        }

        textarea {
            border-radius: 4px;
            border: 1px solid #ccc;
            padding: 5px;

            @media screen and (max-width: 750px) {
                height: 100px;
            }
        }

        &-name {
            @media screen and (min-width: 750px) {
                grid-area: 1 / 1 / 1 / 2;
            }

            display: grid;
            grid-template-rows: auto 1fr;
        }

        &-email {
            @media screen and (min-width: 750px) {
                grid-area: 1 / 2 / 1 / 2;
            }

            display: grid;
            grid-template-rows: auto 1fr;

        }

        &-comment_box {
            @media screen and (min-width: 750px) {
                grid-area: 2 / 1 / 3 / 3;
            }

            display: grid;
            grid-template-rows: auto 1fr;
        }

        &-submit_button {
            button{
                padding: .5rem 1rem;
                background-color: $color_secundario;
                border: solid $color_secundario 2px;
                margin: 0 1rem 1rem 0;
                border-radius: 10rem;
                @include button-animation($color_secundario, $color_text_secundario);
            }
        }
    }


}