//Colours
$color_primario: rgb(57, 89, 76);
$color_navbar:rgb(44, 68, 58);;
$color_secundario: #E9B738;
$color_body: #E7E9E8;
$color_html: #dddddd;
$color_text: #1d1d1f;
$color_text_secundario: #ffff ;
